.head {
 margin: 0 auto;
  border-bottom: 1px solid #ececec;
  
}
.head-box {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.navigation {
  display: flex;

  
}
.head__navigation {
  margin-left: 93px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.head__studio {
  color: #000000;
}



.menu {
  display: flex;
  align-items: center;
}


.navigation__item:not(:first-child) {
  margin-left: 50px;
}

.navigation__menu-link {
  position: relative;
  display: block;
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

     &:hover,
     &:focus {
       color: var(--accent-color);
     }
}


.navigation__menu-link_activ {
  color: var(--accent-color);

     &::after {
        position: absolute;
        left: 0;
        bottom: 0;

        display: block;
        content: "";
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        margin: 0 auto;
      }
}


.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact__tel {
  
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       &:hover,
       &:focus {
          color: var(--accent-color);
       }

}
.contact__mailto {
 
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

       &:hover,
       &:focus {
          color: var(--accent-color);
        }

}

.contact__icon {
  margin-right: 10px;
  fill: var(--text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

 
}
 .contact__tel:hover .contact__icon,
 .contact__tel:focus .contact__icon,
 .contact__mailto:hover .contact__icon,
 .contact__mailto:focus .contact__icon {
         fill: var(--accent-color);
  }

.contact__item:not(:first-child) {
  margin-left: 50px;
}